<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>스프링부트 웹서비스</title>
  <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>게시글 수정</h1>

<div class="col-md-12">
  <div class="col-md-4">
    <form action="">
      <div class="form-group">
        <label for="id">글 번호</label>
        <input type="text" class="form-control" id="id" th:value="${posts.id}" readonly>
      </div>
      <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" th:value="${posts.title}">
      </div>
      <div class="form-group">
        <label for="author">작성자</label>
        <input type="text" class="form-control" id="author" th:value="${posts.author}" readonly>
      </div>
      <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" th:value="${posts.content}"></textarea>
      </div>
    </form>
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js추가 -->
<script src="/js/app/index.js"></script>
</body>
</html>